/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wazframe-reel {
  --space: var(--wp--style--block-gap, 1rem);
  --height: auto;
  --item-width: auto;
  display: flex;
  /* only allow horizontal scrolling */
  overflow-x: auto;
  overflow-y: hidden;
  /* override to set a manual height, inherited uses 100% to maintain aspect ratio */
  block-size: var(--height);
  gap: var(--space);
}

.wp-block-wazframe-reel > * {
  flex: 0 0 var(--item-width);
}

.wp-block-wazframe-reel > img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

/* reel works in both writing directions */
.wp-block-wazframe-reel > * + * {
  margin-inline-start: var(--space);
}

.wp-block-wazframe-reel.overflowing {
  padding-block-end: 1rem;
}
